@model Login_Register.Model.DBContext.State


<option value=""> --Select State --</option>
@if (ViewBag.StateList != null)
{
    foreach (var i in ViewBag.StateList)
    {
        <option value="@i.Value"> @i.Text</option>
    }
}

